.container {
    width: 200px;
}

.grafico {
    background-color: red;
    display: block;
}

.grade {
    border: solid 1px;
}

.texto {
    display: flex;
    flex-direction: row;
}

.textoItem1 {
    flex: 1;
    background-color: green;
}

.textoItem2 {
    flex: 1;
    text-align: center;
    background-color: blue;
}

.textoItem3 {
    flex: 1;
    text-align: right;
    background-color: purple;
}