.container {
    width: 200px;
}

.grafico {
    display: block;
}

.indicadores {
    display: grid;
    grid-template-areas: "bar";
}

.barras {
    grid-area: bar;
    display: flex;
    height: 22px;
    padding: 2px 0px 2px 0px;
}

.barraVermelha {
    background-color: #e9573e;
    flex: 1;
}

.barraVermelhaAmarela {
    background-image: linear-gradient(to right, #e9573e, #f2ca03);
    flex: 1;
}

.barraAmarelaVerde {
    background-image: linear-gradient(to right, #f2ca03, #95c11c);
    flex: 1;
}

.indicador {
    grid-area: bar;
    display: flex;
}

.indicador2 {
    grid-area: bar;
    border: dashed;
    border-width: 0px 1px 0px 0px;
    border-color: #951a80;
    width: 33%;
    padding: 2px 0px 2px 0px;
}

.barraVertical {
    border: solid;
    border-width: 0px 1px 0px 0px;
    border-right-width: 3px;
    border-color: #39434e;
    width: 20%;
}

.transparencia {
    background-color: rgb(255, 255, 255, 0.8);
    flex-grow: 1;
}

.grade {
    display: flex;
    height: 5px;
    font-size: 5px;
}

.grade1 {
    flex: 1;
    text-align: left;
}

.grade2 {
    flex: 1;
    text-align: center;
}

.grade3 {
    flex: 1;
    text-align: right;
}

.texto {
    display: flex;
    flex-direction: row;
    color: #868F9B;
    font-family: "Open Sans";
    font-size: 10px;
}

.textoItem1 {
    flex: 1;
}

.textoItem2 {
    flex: 1;
    text-align: center;
}

.textoItem4 {
    flex: 1;
    text-align: right;
}